{% set formMetas %}
    {% for item in ['metaTitle', 'metaDescription'] %}
        {{ form_row(form[item]) }}
    {% endfor %}
{% endset %}

{% set formOpenGraph %}
    {% for item in ['ogTitle', 'ogDescription', 'ogImage'] %}
        {{ form_row(form[item]) }}
    {% endfor %}
{% endset %}

{% set formOthers %}
    {% for item in ['name', 'template'] %}
        {{ form_row(form[item]) }}
    {% endfor %}
{% endset %}

{% set formSitemap %}
{% endset %}

<div class="row">
    {% set hasBockFrom = form.children|length > 8 %}

    {% if hasBockFrom %}
        <div class="col-md-8 p-2" id="page-main-form">
            {{ form_widget(form, {attr: {class: 'row'}}) }}
        </div>
    {% endif %}

    <div class="{% if hasBockFrom %}col-md-4{% else %}col-md-12{% endif %} p-md-3" id="page-metas-form">
        <ul class="nav nav-pills">
            <li class="nav-item mb-1">
                <a class="nav-link active" data-toggle="tab" href="#form-page-metas">
                    <span class="fa fa-code"></span>
                    <span class="d-none d-md-inline">
                        {{ 'Meta datas'|trans }}
                    </span>
                </a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" data-toggle="tab" href="#form-page-og">
                    <span class="fa fa-share"></span>
                    <span class="d-none d-md-inline">
                        {{ 'OpenGraph'|trans }}
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#form-page-others">
                    <span class="fa fa-cog"></span>
                    <span class="d-none d-md-inline">
                        {{ 'Others'|trans }}
                    </span>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane show active p-3" id="form-page-metas">
                {{ formMetas|raw }}
            </div>
            <div class="tab-pane p-3" id="form-page-og">
                {{ formOpenGraph|raw }}
            </div>
            <div class="tab-pane p-3" id="form-page-others">
                {{ formOthers|raw }}
            </div>
        </div>
    </div>
</div>
